<h1><%= @hospital.name %>'s Show Page</h1>

<% @hospital.doctor_pat_sort.each do |doctor| %>
  <section id="doctor-<%= doctor.id%>_info">
    <p>Doctor: <%= doctor.name %></p>
    <li>Number of Patients: <%= doctor.pat_count %></li>
  </section>
<% end %>