<h2><%= @hospital.name %></h2>

<h3>Doctors:</h3>
<ul>
  <% @doctors.each do |d| %>
    <div id="doctor-<%= d.id %>">
      <li><b><%= d.name %></b><br>
        Patients Seen: <%= d.patient_count %>
      </li>
    </div>
    <br>
  <% end %>
</ul>