<h1><%= @hospital.name %></h1>

<h2>Doctors</h2>
<% @docs.each do | doc | %>
  <section id="doc-<%= doc.id %>">
    <p><%= "#{doc.name} | Patients: #{doc.patient_count}" %></p>
  </section>
<% end %>
