<h1>Hospital: <%= @hospital.name %></h1>

<% @hospital.sort_by_doctor_patient_count.each do |doctor| %>
  <div id="doctor-<%= doctor.id %>">
    <p>
      <%= doctor.name %>
      : <%= doctor.patient_count %>
       patients
    </p>
  </div>
<% end %>
